/**************************/
/* Reformatting title bar */
/**************************/
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.bar {
  padding: 15px;
}

a,
a:hover {
   text-decoration: none ;
}

/******************/
/* Content slider */
/******************/
#container {
	width: 80%;
	margin: 5px auto;
}

.description {
	margin: 0;
	padding: 0 35px 0 0;
}

#slider {
	width: 100%;
	height: 550px;
	position: relative;
  top: -50px;
	overflow: hidden;
	float: left;
	margin-bottom: 100px;
	border: #666 solid 2px;
	border-radius: 5px;
}

#slider img {
  max-height: 550px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.img1, .img2, .img3, .img4, .img5 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide-copy {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 20px 20px 20px;
	background: 7f7f7f;
	background: rgba(0,0,0,0.5);
	width: 100%;
	max-height: 30%;
}

#prev, #next {
	cursor: pointer;
	z-index: 100;
	background: #666;
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
	top: 250px;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

#next {
	float: right;
}

#prev {
	float: left;
	left: 0;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-left: 15px solid #fff;
	position: relative;
	top: 20%;
	right: -40%;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-right: 15px solid #fff; 
	position: relative;
	top: 20%;
	left: 30%;
}

/*****************/
/* Media Queries */
/*****************/