/*********************************************/
/********* Header and nav bar ****************/
/*********************************************/

h1 {
  text-align: center;
  font-family: 'BioRhyme', serif;
  font-size: 7vw;
  padding-top: 10px;
}

.bar {
  background-color: #444;
}

h2 {
  font-size: 4vw;
  font-family: 'BioRhyme', serif;
  padding-top: 10px;
}

p {
  font-family: 'Martel Sans', sans-serif;
  font-size: 12px;
}

.bar h2,
.bar p {
  color: white;
}

/*********************************************/
/********* Rows, columns, and containers *****/
/*********************************************/

.main-container,
.nav-container {
  width: 90%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category {
  flex-basis: 350px;
  flex-grow: 1;
}

/*********************************************/
/************* Main content ******************/
/*********************************************/

/* <a> is the parent of the img.
Resize <a> to what we want the image size to be (80% of div width),
then the image takes up 100% of the <a> */
.category a {
  display: block;
  width: 95%;
  margin: 0 auto;
}
.categoryImage {
  display: block;
  width: 100%;
}
/* ^^^^^ These two go together ^^^^^^^^^ */

.category p {
  font-size: 4.5vw;
  text-align: center;
  margin-top: 5px;
}

.category img:hover {
  opacity: 0.7;
}

/* .productBox { */
  /* border: 1px solid gray; */
  /* border-radius: 50px; */
  /* display: inline-block; */
  /* width: 400px; */
  /* max-width: 400px; */
  /* height: 400px; */
  /* max-height: 400px; */
  /* padding: 25px; */
/* } */

/* .productImage { */
  /* display: block; */
  /* width: 60%; */
  /* max-width: 100px; */
  /* margin: auto; */
/* } */

/*********************************************/
/************* Media queries *****************/
/*********************************************/

@media (min-width: 793px) {
  
  /* Category font size goes from 10px up */
  .category p {
  font-size: calc(8px + 1.8vw);
  }
}
