/*********************************************/
/********* Header and nav bar ****************/
/*********************************************/

h1 {
  text-align: center;
}

.bar {
  background-color: #444;
}

.bar h2,
.bar p {
  color: white;
}

/*********************************************/
/********* Rows, columns, and containers *****/
/*********************************************/

.column {
  float: center;
  width: 90%;
  margin: auto;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/*********************************************/
/************* Main content ******************/
/*********************************************/

/* Remember <a> is the parent of this img.
This resizes <a> to what we want the image size to be,
then the image takes up 100% of the <a> because it is a child*/
.category a {
  display: block;
  width: 80%;
  max-width: 375px;
  margin: 0 auto;
}
.categoryImage {
  display: block;
  width: 100%;
}
/* ^^^^^ These two go together ^^^^^^^^^ */

.category p {
  font-size: 5vw;
  text-align: center;
  margin-top: 0;
}

/* .productBox { */
  /* border: 1px solid gray; */
  /* border-radius: 50px; */
  /* display: inline-block; */
  /* width: 400px; */
  /* max-width: 400px; */
  /* height: 400px; */
  /* max-height: 400px; */
  /* padding: 25px; */
/* } */

/* .productImage { */
  /* display: block; */
  /* width: 60%; */
  /* max-width: 100px; */
  /* margin: auto; */
/* } */

/*********************************************/
/************* Media queries *****************/
/*********************************************/

@media (min-width: 600px) {
  
  /* 3 columns on larger windows */
  .column {
    float: left;
    width: 33%;
  }
  
  /* Category font size goes from 10px up */
  .category p {
  font-size: calc(10px + 1.8vw);
  }
}
